body {
    margin: 0;
/*  background-color: white; */
    width: 100%;
    background-color: aliceblue;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    word-spacing: 0.15em;
/*  padding-bottom: 30px;
    width: 600px;
    height: 200px;
    background-color: black;
    align-content: center; */
}

/*
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-align: left;
    color: chartreuse;
} */


h3,
span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: midnightblue;
    padding: 20px;
    text-align: center;
}


h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    font-weight: bold;
    color: darkgreen;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    font-weight: normal;
    color: midnightblue;
    padding: 20px;
    margin-bottom: 30px;
    text-align: justify;
}

hr {
   margin-left: 20px;
   margin-right: 20px;
   color: darkgreen;
}

img {
    background-color: white;
/*  margin-right: 10px; */
}

p:first-letter {
    font-size: 140%; 
    font-weight: bold;
}

.container {
    width: 80%;
    background-color: aliceblue;
    padding: 40px;
    border: 9px solid;
    border-color: aliceblue;
/*  border-radius: 10px; */
}

.instruxText {
    background-color: white;
    border: 9px solid;
    border-color: white;
    border-radius: 10px; 
}

.jumbotron {
    background-image: url("../images/ore-gem.jpg");
    background-size: cover;
}

.jumbotron h1 {
    color: mintcream;
    text-shadow: 3px 3px black;
/*  text-shadow: -2px -2px yellow; */
}

.text-center {
    text-align: center;
}

.scoreboard {
    background-color: white;
    border: 9px solid;
    border-color: white;
    border-radius: 10px;
    margin-top: 20px;
    padding-left: 20px;
}

.crystalButtons {
    background-color: white;
    border: 9px solid;
    border-color: white;
    border-radius: 10px;
    margin-top: 10px;
    padding-left: 60px;
}

.userScore {
    background-color: white;
    border: 9px solid;
    border-color: white;
    border-radius: 10px;
    margin-top: 10px;
    padding-left: 20px;
}
